node_modules/
dist/
build/
.DS_Store
*.log
logs/
coverage/
/.vscode/
/.idea/
*.env
*.local
*.cache
*.tmp
*.swp
*.swo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.turbo/
/.parcel-cache/
/.next/
/.nuxt/
/.sass-cache/
/.eslintcache
/.cache-loader
/.pnp/
/.pnp.js
/apps/**/node_modules/
/apps/**/dist/
/apps/**/build/
